.content {
  h4 {
    background-color: rgb(254, 254, 254);
    padding: 0.5rem;
    color: #f91477;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }

  .list {
    margin: 0.8rem;
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    text-align: center;

    .card {
      border-bottom: solid 2px #f91477;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 10%,
        rgba(236, 241, 247, 1) 10%,
        rgba(36, 90, 160, 1) 100%
      );
      border-radius: 0.5rem;
    }

    h6 {
      margin: 0.5rem;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
    }

    h5{
      margin: 0.5rem;
      color: #f91477;

    }

    img {
      object-fit: cover;
      object-position: center center;
      border-radius: 0.5rem 0.5rem 0 0;
      aspect-ratio: 1/1;
    }
  }
}
